<h2>Work experience</h2>

@for (item of experienceData(); track item.company) {
  <div class="work-experience">
    <div class="logo">
      <img [src]="item.logoPath" alt="">
    </div>


    <div class="work-content">
      <h4>
        {{ item.position }} at

        @if (item.link) {
          <a
            target="_blank"
            [href]="item.link"
          >{{ item.company }}</a>
        } @else {
          {{ item.company }}
        }

        <small>{{ item.duration }}</small>
      </h4>

      <h5>TOOLS AND TECHNOLOGIES:</h5>
      <p>{{ item.technologies | join }}</p>

      <h5>PROJECTS DESCRIPTION:</h5>
      <ul>
        @for (description of item.projectsDescription; track description) {
          <li>{{ description }}</li>
        }
      </ul>

      <h5>RESPONSIBILITIES:</h5>
      <ul>
        @for (responsibility of item.responsibilities; track responsibility) {
          <li>{{ responsibility }}</li>
        }
      </ul>

      @if (item.reasonForLeaving) {
        <h5>REASON FOR LEAVING:</h5>
        <p>{{ item.reasonForLeaving }}</p>
      }
    </div>
  </div>
}
