<div class="contacts">
  <p class="section-label">Get in touch</p>
  <h3 class="card-title">Contacts</h3>

  <ul class="contact-list">
    <li>
      <a href="mailto:dimatsourkan@gmail.com">
        <span class="icon icon-mail"><i class="fab fa-google"></i></span>
        <span class="label">
          <span class="label-name">Email</span>
          <span class="label-value">dimatsourkan&#64;gmail.com</span>
        </span>
      </a>
    </li>
    <li>
      <a href="https://linkedin.com/in/dimatsourkan" target="_blank" rel="noopener">
        <span class="icon icon-ln"><i class="fab fa-linkedin"></i></span>
        <span class="label">
          <span class="label-name">LinkedIn</span>
          <span class="label-value">dimatsourkan</span>
        </span>
      </a>
    </li>
    <li>
      <a href="tg://resolve?domain=dimatsourkan" target="_blank" rel="noopener">
        <span class="icon icon-tg"><i class="fab fa-telegram"></i></span>
        <span class="label">
          <span class="label-name">Telegram</span>
          <span class="label-value">&#64;dimatsourkan</span>
        </span>
      </a>
    </li>
    <li>
      <a href="https://wa.me/+380971360376" target="_blank" rel="noopener">
        <span class="icon icon-wa"><i class="fab fa-whatsapp"></i></span>
        <span class="label">
          <span class="label-name">WhatsApp</span>
          <span class="label-value">+380 97 136 0376</span>
        </span>
      </a>
    </li>
    <li>
      <a href="tel:+380971360376">
        <span class="icon icon-phone"><i class="fa fa-phone"></i></span>
        <span class="label">
          <span class="label-name">Phone (UA)</span>
          <span class="label-value">+380 97 136 0376</span>
        </span>
      </a>
    </li>
    <li>
      <a href="tel:+48539426540">
        <span class="icon icon-phone"><i class="fa fa-phone"></i></span>
        <span class="label">
          <span class="label-name">Phone (PL)</span>
          <span class="label-value">+48 539 426 540</span>
        </span>
      </a>
    </li>
  </ul>
</div>
