<h2>Contacts</h2>
<div class="contacts">
  <dl class="contact-mail">
    <dd class="m-r-15">
      <i class="fab fa-google fa-1x"></i>
    </dd>
    <dt>
      <a href="mailto:dimatsourkan@gmail.com">dimatsourkan@gmail.com</a>
    </dt>
  </dl>
  <dl class="contact-ln">
    <dd class="m-r-15">
      <i class="fab fa-linkedin fa-1x"></i>
    </dd>
    <dt>
      <a
        href="https://linkedin.com/in/dimatsourkan"
        target="_blank"
      >LinkedIn</a>
    </dt>
  </dl>
  <dl class="contact-tg">
    <dd class="m-r-15">
      <i class="fab fa-telegram fa-1x"></i>
    </dd>
    <dt>
      <a
        href="tg://resolve?domain=dimatsourkan"
        target="_blank"
      >dimatsourkan</a>
    </dt>
  </dl>
  <dl class="contact-whatsapp">
    <dd class="m-r-15">
      <i class="fab fa-whatsapp fa-1x"></i>
    </dd>
    <dt>
      <a
        href="https://wa.me/+380971360376"
        target="_blank"
      >+380971360376</a>
    </dt>
  </dl>
  <dl class="contact-phone">
    <dd class="m-r-15">
      <i class="fa fa-phone-square fa-1x"></i>
    </dd>
    <dt>
      <a
        href="tel:+380971360376"
        target="_blank"
      >+380971360376</a>
    </dt>
  </dl>
  <dl class="contact-phone">
    <dd class="m-r-15">
      <i class="fa fa-phone-square fa-1x"></i>
    </dd>
    <dt>
      <a
        href="tel:+48539426540"
        target="_blank"
      >+48539426540</a>
    </dt>
  </dl>
</div>
