@use "mixins";

.about-me {
  @include mixins.glass-container(false, false, true, 20px, 0.4);
  padding: 25px;

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    strong {
      font-weight: 600;
    }
  }
}

@media print {
  .about-me {
    padding: 0;
    box-shadow: none;
  }
}
