<div class="parallax" appParallax></div>

<div class="container">
  <div class="left">
    <div class="cv-avatar">
      <img
        ngSrc="user-default.webp"
        [width]="200"
        [height]="200"
        alt=""
      >
    </div>
  </div>
  <div class="right">
    <h1 class="header-title">Tsurkan Dmytro</h1>
    <h3 class="header-subtitle">Front-End / Full-Stack JavaScript Developer</h3>
    <div class="actions">
      <a class="button" href="cv.pdf" target="_blank">Download CV</a>
    </div>
  </div>
</div>
