<h2>Tools experience</h2>
<div class="experience-tools">
  <div class="experience-tool tool-html">
    <i class="fab fa-html5 fa-3x"></i>
    <h4>
      HTML 5<br/> <small>(11 years)</small>
    </h4>
  </div>
  <div class="experience-tool tool-css">
    <i class="fab fa-css3-alt fa-3x"></i>
    <h4>
      CSS (LESS, SASS)<br/> <small>(11 years)</small>
    </h4>
  </div>
  <div class="experience-tool tool-js">
    <i class="fab fa-js-square fa-3x"></i>
    <h4>
      Java Script<br/> <small>(10 years)</small>
    </h4>
  </div>
  <div class="experience-tool tool-ts">
    <i class="fab fa-js-square fa-3x"></i>
    <h4>
      TypeScript<br/> <small>(8 years)</small>
    </h4>
  </div>
  <div class="experience-tool tool-angular">
    <i class="fab fa-angular fa-3x"></i>
    <h4>
      Angular 2+<br/> <small>(8 years)</small>
    </h4>
  </div>
  <div class="experience-tool tool-nodejs">
    <i class="fab fa-node fa-3x"></i>
    <h4>
      NodeJs<br/> <small>(6 years)</small>
    </h4>
  </div>
  <div class="experience-tool tool-ts">
    <i class="fab fa-node-js fa-3x"></i>
    <h4>
      NestJs<br/> <small>(6 years)</small>
    </h4>
  </div>
<!--  <div class="experience-tool tool-mongo">-->
<!--    <i class="fa fa-database fa-3x"></i>-->
<!--    <h4>-->
<!--      MongoDB<br/> <small>(2 years)</small>-->
<!--    </h4>-->
<!--  </div>-->
  <div class="experience-tool tool-gulp">
    <i class="fab fa-gulp fa-3x"></i>
    <h4>
      Gulp / Webpack<br/> <small>(6 years)</small>
    </h4>
  </div>
  <div class="experience-tool tool-docker">
    <i class="fab fa-docker fa-3x"></i>
    <h4>
      Docker<br/> <small>(2 years)</small>
    </h4>
  </div>
  <div class="experience-tool tool-git">
    <i class="fa fa-tools fa-3x"></i>
    <h4>
      Git, Jira ...
    </h4>
  </div>
</div>
